@import '../style/variable';

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $FFamily;
    font-size: $FSize;
}

body {
    min-height: 100vh;
    width: 100%;

   

    .light {
        background: $VeryLightGray;
        color: $VeryDarkBlue;

        .input-container {
            background: $VeryLightGray;
            box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.49);

            input {
                background: transparent;
                color: $VeryDarkBlue;
            }

            button {
                background: transparent;
                outline: none;
                border: 1px solid $VeryDarkDesaturatedBlue;
            }
        }

        .taskList_container{
            background: $VeryLightGray;
            box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.49);
        }
    }

    .dark {
        background: $VeryDarkBlue;
        color: $LightGrayishBlue;

        .input-container {
            background: $VeryDarkDesaturatedBlue;

            input {
                background: transparent;
                color: $LightGrayishBlue;
            }

            button {
                background: transparent;
                outline: none;
                border: 1px solid $LightGrayishBlue;
            }
        }

        .taskList_container{
            background-color: $VeryDarkDesaturatedBlue;
        }
    }
}